body {
  font-family: "Poppins", sans-serif;
  background-color: #bbbbbb;
  margin: 0;
  padding: 20px;
}

.judul {
  color: white;
  margin-bottom: 15px;
}

.navbar {
  display: flex;
  background: white;
  padding: 10px;
  border-radius: 10px;
  justify-content: center;
  gap: 10px;
}

.nav-btn {
  border: none;
  background: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.nav-btn.active, .nav-btn:hover {
  background: #b50000;
  color: white;
}

.content {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

section {
  display: none;
}

section.active {
  display: block;
}

h2 {
  margin-top: 0;
  color: #111;
}

.search {
  width: 40%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin: 15px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
}

th, td {
  padding: 10px;
  text-align: center;
}

.btn-green {
  background: #0da10d;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-red {
  background: #e40000;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-blue {
  background: #0099ff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-green:hover {
  background: #098a09;
}

.btn-red:hover {
  background: #c00000;
}

.btn-blue:hover {
  background: #0077cc;
}

/* Popup Edit Form */
.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #f5f5f5;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup-content input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.popup-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}